.pfp{
    width: 300px !important;
    height: 300px !important;
}

#hero{
    font-size: 80px;
}

.text{
    font-size: 24px;
}

#values{ 
        background-image: url('/images/ourValues.webp');
        background-size: cover;
        background-position: center;
        padding: 250px 0;
}

#join{ 
    background-image: url('/images/join.webp');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 40px 0;
}
.bottom {
    background-color: #00321F;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #E4FDE2;
    margin-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #e4fde27b;
}

.codebrew-logo {
    height: 4vh;
}